/*============================================
        common css part start here
==============================================*/
* {
  margin: 0;
  padding: 0;
}

ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.clr {
  clear: both;
}

.container {
  max-width: 1220px;
}

/*============================================
        common css part ends here
==============================================*/
/*============================================
        all typography css part start here
==============================================*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
}

/*============================================
        all typography css part ends here
==============================================*/
/* ======================================================
                    navbar css start here
=========================================================*/
#navbar {
  width: 100vw;
  height: 70px;
  background: #f3cef2;
}
#navbar .nav_body {
  padding: 5px 0;
}
#navbar .nav_body .nav_text {
  color: #f903e9;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}
#navbar .nav_body ul {
  background: #f3cef2;
}
#navbar .nav_body ul li {
  padding-left: 15px;
}
#navbar .nav_body ul li a {
  color: #b854b2;
  font-size: 18px;
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
}

/* ======================================================
                    navbar css ends here
=========================================================*/
/*============================================
        banner css part start here
==============================================*/
#banner {
  width: 100vw;
  background: rgb(229, 176, 176);
}
#banner .banner_body .banner_main .ban_overlay {
  background: rgba(0, 0, 0, 0.2352941176);
}
#banner .banner_body .banner_main .ban_overlay .ban_text {
  padding: 200px 0;
  text-align: center;
}
#banner .banner_body .banner_main .ban_overlay .ban_text p {
  color: #343434;
  font-size: 40px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
}
#banner .banner_body .banner_main .ban_overlay .ban_text h1 {
  color: #343434;
  font-size: 80px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
}
#banner .banner_body .banner_main .ban_overlay .ban_text span {
  color: #343434;
  font-size: 40px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
}

/*============================================
        banner css part ends here
==============================================*/
/*============================================
        wish css part start here
==============================================*/
#wish {
  width: 100vw;
  margin: 50px 0;
}
#wish .wish_body .wish_head {
  text-align: center;
}
#wish .wish_body .wish_head h3 {
  color: #343434;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  position: relative;
}
#wish .wish_body .wish_head h3::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 130px;
  background: #000;
  top: 35px;
  left: 41%;
}
#wish .wish_body .wish_main .col-lg-6 .wish_img {
  padding-right: 10px;
  padding-top: 50px;
}
#wish .wish_body .wish_main .col-lg-6 .wish_img img {
  width: 100%;
  height: 100%;
}
#wish .wish_body .wish_main .col-lg-6 .wish_text {
  text-align: center;
  padding-top: 25px;
}
#wish .wish_body .wish_main .col-lg-6 .wish_text h3 {
  color: #343434;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}
#wish .wish_body .wish_main .col-lg-6 .wish_text .modal-header .modal-title {
  text-align: center;
  color: #f903e9;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}
#wish .wish_body .wish_main .col-lg-6 .wish_text .modal-body {
  background: #f3cef2;
}
#wish .wish_body .wish_main .col-lg-6 .wish_text .modal-body p {
  color: #343434;
  font-weight: 18px;
  font-family: "Raleway", sans-serif;
}

/*============================================
        wish css part ends here
==============================================*/
/*============================================
        photos css part start here
==============================================*/
#photos {
  width: 100vw;
  margin: 50px 0;
}
#photos .photos_body .photos_main .photos_head {
  text-align: center;
}
#photos .photos_body .photos_main .photos_head h3 {
  color: #343434;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  position: relative;
}
#photos .photos_body .photos_main .photos_head h3::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 130px;
  background: #000;
  top: 35px;
  left: 41%;
}
#photos .photos_body .photos_main .photos_card .col-lg-4 {
  padding: 0 10px;
  margin-top: 20px;
}
#photos .photos_body .photos_main .photos_card .col-lg-4 .ilma1 {
  width: 100%;
  height: 300px;
  background-image: url(../images/ilma1.jpeg);
  background-position: center;
}
#photos .photos_body .photos_main .photos_card .col-lg-4 .ilma1 .card_overlay {
  width: 100%;
  height: 100%;
  background: rgba(243, 206, 242, 0.3058823529);
}
#photos .photos_body .photos_main .photos_card .col-lg-4 .ilma2 {
  width: 100%;
  height: 300px;
  background-image: url(../images/ilma2.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#photos .photos_body .photos_main .photos_card .col-lg-4 .ilma2 .card_overlay {
  width: 100%;
  height: 100%;
  background: rgba(243, 206, 242, 0.3058823529);
}
#photos .photos_body .photos_main .photos_card .col-lg-4 .ilma3 {
  width: 100%;
  height: 300px;
  background-image: url(../images/ilma3.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#photos .photos_body .photos_main .photos_card .col-lg-4 .ilma3 .card_overlay {
  width: 100%;
  height: 100%;
  background: rgba(243, 206, 242, 0.3058823529);
}
#photos .photos_body .photos_main .photos_card .col-lg-4 .card_text .photos_text {
  padding: 10px 0 10px 0;
  text-align: center;
  background: #000;
}
#photos .photos_body .photos_main .photos_card .col-lg-4 .card_text .photos_text p {
  font-size: 15px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  color: #f903e9;
  margin-bottom: 0;
}

/*============================================
        photos css part ends here
==============================================*/
/*============================================
        phase1 css part start here
==============================================*/
#phase1 {
  width: 100vw;
  margin: 50px 0;
  background: #f3cef2;
}
#phase1 .phase_head {
  text-align: center;
}
#phase1 .phase_head h3 {
  background: #f903e9;
  color: #343434;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  position: relative;
}
#phase1 .phase_head h3::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 130px;
  background: #000;
  top: 35px;
  left: 41%;
}

/*============================================
        phase1 css part ends here
==============================================*/
/*============================================
        note css part start here
==============================================*/
#note {
  width: 100vw;
  margin: 50px 0;
}
#note .note_body .note_main .note_head {
  text-align: center;
}
#note .note_body .note_main .note_head h3 {
  color: #343434;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  position: relative;
}
#note .note_body .note_main .note_head h3::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 130px;
  background: #000;
  top: 35px;
  left: 41%;
}
#note .note_body .note_main .note_card .col-lg-4 {
  padding: 0 10px;
  margin-top: 20px;
}
#note .note_body .note_main .note_card .col-lg-4 .note1 {
  width: 100%;
  height: 300px;
  background-image: url(../images/note1.png);
  background-position: center;
}
#note .note_body .note_main .note_card .col-lg-4 .note1 .card_overlay {
  width: 100%;
  height: 100%;
  background: rgba(243, 206, 242, 0.3058823529);
}
#note .note_body .note_main .note_card .col-lg-4 .note2 {
  width: 100%;
  height: 300px;
  background-image: url(../images/note2.png);
  background-position: center;
}
#note .note_body .note_main .note_card .col-lg-4 .note2 .card_overlay {
  width: 100%;
  height: 100%;
  background: rgba(243, 206, 242, 0.3058823529);
}
#note .note_body .note_main .note_card .col-lg-4 .note3 {
  width: 100%;
  height: 300px;
  background-image: url(../images/note3.png);
  background-position: center;
}
#note .note_body .note_main .note_card .col-lg-4 .note3 .card_overlay {
  width: 100%;
  height: 100%;
  background: rgba(243, 206, 242, 0.3058823529);
}
#note .note_body .note_main .note_card .col-lg-4 .note4 {
  width: 100%;
  height: 300px;
  background-image: url(../images/note4.png);
  background-position: center;
}
#note .note_body .note_main .note_card .col-lg-4 .note4 .card_overlay {
  width: 100%;
  height: 100%;
  background: rgba(243, 206, 242, 0.3058823529);
}
#note .note_body .note_main .note_card .col-lg-4 .note5 {
  width: 100%;
  height: 300px;
  background-image: url(../images/note5.png);
  background-position: center;
}
#note .note_body .note_main .note_card .col-lg-4 .note5 .card_overlay {
  width: 100%;
  height: 100%;
  background: rgba(243, 206, 242, 0.3058823529);
}
#note .note_body .note_main .note_card .col-lg-4 .note6 {
  width: 100%;
  height: 300px;
  background-image: url(../images/note6.png);
  background-position: center;
}
#note .note_body .note_main .note_card .col-lg-4 .note6 .card_overlay {
  width: 100%;
  height: 100%;
  background: rgba(243, 206, 242, 0.3058823529);
}
#note .note_body .note_main .note_card .col-lg-4 .note7 {
  width: 100%;
  height: 300px;
  background-image: url(../images/note7.png);
  background-position: center;
}
#note .note_body .note_main .note_card .col-lg-4 .note7 .card_overlay {
  width: 100%;
  height: 100%;
  background: rgba(243, 206, 242, 0.3058823529);
}
#note .note_body .note_main .note_card .col-lg-4 .note8 {
  width: 100%;
  height: 300px;
  background-image: url(../images/note8.png);
  background-position: center;
}
#note .note_body .note_main .note_card .col-lg-4 .note8 .card_overlay {
  width: 100%;
  height: 100%;
  background: rgba(243, 206, 242, 0.3058823529);
}
#note .note_body .note_main .note_card .col-lg-4 .note9 {
  width: 100%;
  height: 300px;
  background-image: url(../images/note9.png);
  background-position: center;
}
#note .note_body .note_main .note_card .col-lg-4 .note9 .card_overlay {
  width: 100%;
  height: 100%;
  background: rgba(243, 206, 242, 0.3058823529);
}
#note .note_body .note_main .note_card .col-lg-4 .note10 {
  width: 100%;
  height: 300px;
  background-image: url(../images/note10.png);
  background-position: center;
}
#note .note_body .note_main .note_card .col-lg-4 .note10 .card_overlay {
  width: 100%;
  height: 100%;
  background: rgba(243, 206, 242, 0.3058823529);
}
#note .note_body .note_main .note_card .col-lg-4 .note11 {
  width: 100%;
  height: 300px;
  background-image: url(../images/note11.png);
  background-position: center;
}
#note .note_body .note_main .note_card .col-lg-4 .note11 .card_overlay {
  width: 100%;
  height: 100%;
  background: rgba(243, 206, 242, 0.3058823529);
}
#note .note_body .note_main .note_card .col-lg-4 .card_text .note_text {
  padding: 10px 0 10px 0;
  text-align: center;
  background: #000;
}
#note .note_body .note_main .note_card .col-lg-4 .card_text .note_text p {
  font-size: 15px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  color: #000;
  margin-bottom: 0;
}

/*============================================
        note css part ends here
==============================================*/
/*============================================
        video css part start here
==============================================*/
#video {
  width: 100vw;
  margin: 50px 0;
}
#video .video_body {
  background: #000;
}
#video .video_body .video_main {
  background: red;
  width: 100%;
  height: 300px;
}

/*============================================
        video css part ends here
==============================================*//*# sourceMappingURL=style.css.map */