/*============================================
        phase 2 css part start here
==============================================*/
#phase2{
    width: 100vw;
    margin-top: 200px;
    margin-bottom: 50px;
    background: #f3cef2;
    .phase_body{
        .phase_main{
            width: 100%;
            .phase_head{
                text-align: center;
                background: red;
                height: 40px;
                h3{
                    // text-align: left;
                    color: #343434;
                    font-weight: 600;
                    font-family: 'Raleway', sans-serif;
                    text-transform: uppercase;
                    position: relative;
                    &::after{
                        position: absolute;
                        content: '';
                        height: 1px;
                        width: 130px;
                        background: #000;
                        top: 35px;
                        left: 41%;
                    }
                }
            }
            .topic{
                text-align: center;
                h2{
                    margin-top: 35px;
                    color: #f903e9;
                    font-weight: 600;
                    font-family: 'Raleway', sans-serif;
                    text-transform: capitalize;
                    font-size: 20px;
                }
                p{
                    margin-top: 20px;
                    color: #10030f;
                    font-weight: 600;
                    font-family: 'Raleway', sans-serif;
                    text-transform: capitalize;
                    font-size: 15px;
                }
                a{
                    text-decoration: none;
                    color: #f903e9;
                    background: #fff;
                    font-size: 20px;
                    font-weight: 600;
                    font-family: 'Raleway', sans-serif;
                    text-transform: capitalize;
                    border-radius: 5px;
                    border: 1px solid #000;
                    padding: 5px;
                }
            }
        }
    }
}
/*============================================
        phase 2 css part ends here
==============================================*/