/*============================================
        video css part start here
==============================================*/
#video{
    width: 100vw;
    margin: 50px 0;
    .video_body{
        background: #000;
        .video_main{
            background: red;
            width: 100%;
            height: 300px;
        }
    }
}
/*============================================
        video css part ends here
==============================================*/